#game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#game-container canvas {
  width: 100%;
  height: auto; /* Сохраняет пропорции */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
